.externa {
    width:100%;
    height:200px;
    }


body{
    background-color: #f3f2f1;
}

.space {
    width:100%;
    height:120px;
    }

.text_senha{
    margin-left: 35%;
}
#text_senha {
    margin-left: -35%;
}
.text_alterar{
    margin-left: 32%;
}
#text_alterar {
    margin-left: -43%;
}