.externa {
    width:100%;
    height:200px;
    }


body{
    background-color: #f3f2f1;
}

.alterar_margen{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 10px
}
.tela_alterar{
    border: ridge gray;
    border-radius:20px;
    background-color:#f3f2f1;
    left:50%;
    top:25%;
    margin-left:-250px; /* Metade do valor da Largura */
    margin-top:-20px; /* Metade da valor da Altura */
    margin-bottom: 100px;
    position:absolute;
    width:500px; /* Valor da Largura */
    height:480px; /* Valor da Altura */
}
.tela_senha{
    border: ridge gray;
    border-radius:20px;
    background-color:#f3f2f1;
    left:50%;
    top:25%;
    margin-left:-250px; /* Metade do valor da Largura */
    margin-top:70px; /* Metade da valor da Altura */
    margin-bottom: 10px;
    position:absolute;
    width:500px; /* Valor da Largura */
    height:215px; /* Valor da Altura */
}

    .text_senha{
        margin-left: 35%;
    }
    #text_senha {
        margin-left: -35%;
    }
    .text_alterar{
        margin-left: 32%;
    }
    #text_alterar {
        margin-left: -43%;
    }

    .text_feed{
        margin-left: 38%;
    }
    #text_feed {
        margin-left: -60%;
    }   
    .tela_feed{
        border: ridge gray;
        border-radius:20px;
        background-color:#f3f2f1;
        left:50%;
        top:25%;
        margin-left:-290px; /* Metade do valor da Largura */
        margin-top:-20px; /* Metade da valor da Altura */
        margin-bottom: 100px;
        position:absolute;
        width:580px; /* Valor da Largura */
       
    }
    .feed_margen{
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 10px;
        margin-top: 10px
    }